# conditional selection in dataframe

In [110]:
import numpy as np
import pandas as pd
from numpy.random import rand
np.random.seed(101)

In [113]:
outside = ['red','red','red','green','yellow','Green']
inside = [1,2,3,1,2,3]

In [114]:
higher_index = list(zip(outside,inside))

In [115]:
higher_index

[('red', 1), ('red', 2), ('red', 3), ('green', 1), ('yellow', 2), ('Green', 3)]

In [116]:
multi_index = pd.MultiIndex.from_tuples(higher_index, names=['colors','numbers'])

In [117]:
multi_index

MultiIndex([(   'red', 1),
            (   'red', 2),
            (   'red', 3),
            ( 'green', 1),
            ('yellow', 2),
            ( 'Green', 3)],
           names=['colors', 'numbers'])

In [120]:
df = pd.DataFrame(data=rand(6,2),index=multi_index,columns=['A','B'])

In [121]:
df

                       A         B
colors numbers
red    1        0.685306  0.517867
       2        0.048485  0.137869
       3        0.186967  0.994318
green  1        0.520665  0.578790
yellow 2        0.734819  0.541962
Green  3        0.913154  0.807920

In [122]:
df.loc['red']

                A         B
numbers
1        0.685306  0.517867
2        0.048485  0.137869
3        0.186967  0.994318

In [124]:
df.loc['red'].loc[1]['A']

0.6853063287801783

In [127]:
df

                       A         B
colors numbers
red    1        0.685306  0.517867
       2        0.048485  0.137869
       3        0.186967  0.994318
green  1        0.520665  0.578790
yellow 2        0.734819  0.541962
Green  3        0.913154  0.807920

In [128]:
df.loc['red']

                A         B
numbers
1        0.685306  0.517867
2        0.048485  0.137869
3        0.186967  0.994318

In [129]:
df.xs('red')# crosession function

                A         B
numbers
1        0.685306  0.517867
2        0.048485  0.137869
3        0.186967  0.994318

In [131]:
df.xs(1,level= 'numbers')

               A         B
colors
red     0.685306  0.517867
green   0.520665  0.578790