In [1]:
import pandas as pd
import numpy as np

In [2]:
load_df = pd.read_csv("E:/numpy fundamental/Cancer.csv")
load_df.head()

,Indicator Name,Cancer Type,Year,Country Name,Region,Gender,Area,Numeric,Lower Confidence Limit,Upper Confidence Limit,Comment,Unnamed: 11
0,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Total,NaN,100.093775,no data,no data,NaN,NaN
1,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Males,NaN,99.222067,no data,no data,NaN,NaN
2,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Females,NaN,103.394290,no data,no data,NaN,NaN
3,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Total,NaN,91.684712,no data,no data,NaN,NaN
4,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Males,NaN,100.215360,no data,no data,NaN,NaN

In [36]:
# slicing
load_df[1:6]

,Indicator Name,Cancer Type,Year,Country Name,Region,Gender,Area,Numeric,Lower Confidence Limit,Upper Confidence Limit,Comment,Unnamed: 11
1,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Males,NaN,99.222067,no data,no data,NaN,NaN
2,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Females,NaN,103.394290,no data,no data,NaN,NaN
3,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Total,NaN,91.684712,no data,no data,NaN,NaN
4,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Males,NaN,100.215360,no data,no data,NaN,NaN
5,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Females,NaN,84.058661,no data,no data,NaN,NaN

In [37]:
# using df.column
region_lc = load_df.Region
region_lc.head()

0                  African Region
1                  African Region
2                  African Region
3    Eastern Mediterranean Region
4    Eastern Mediterranean Region
Name: Region, dtype: object

In [38]:
# selecting using column name
colname = load_df.Gender
colname.head()

0      Total
1      Males
2    Females
3      Total
4      Males
Name: Gender, dtype: object

In [39]:
load_df

,Indicator Name,Cancer Type,Year,Country Name,Region,Gender,Area,Numeric,Lower Confidence Limit,Upper Confidence Limit,Comment,Unnamed: 11
0,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Total,NaN,100.093775,no data,no data,NaN,NaN
1,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Males,NaN,99.222067,no data,no data,NaN,NaN
2,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Females,NaN,103.394290,no data,no data,NaN,NaN
3,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Total,NaN,91.684712,no data,no data,NaN,NaN
4,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Males,NaN,100.215360,no data,no data,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1135,Percentage of cancer deaths occurring under 70...,NaN,2019,Zambia,African Region,Males,NaN,73.015951,no data,no data,NaN,NaN
1136,Percentage of cancer deaths occurring under 70...,NaN,2019,Zambia,African Region,Females,NaN,81.544289,no data,no data,NaN,NaN
1137,Percentage of cancer deaths occurring under 70...,NaN,2019,Zimbabwe,African Region,Total,NaN,68.934731,no data,no data,NaN,NaN
1138,Percentage of cancer deaths occurring under 70...,NaN,2019,Zimbabwe,African Region,Males,NaN,65.084667,no data,no data,NaN,NaN
1139,Percentage of cancer deaths occurring under 70...,NaN,2019,Zimbabwe,African Region,Females,NaN,71.065408,no data,no data,NaN,NaN

In [4]:
# modified indexing usie 'inplace = true'
modified_indexing_df = load_df
modified_indexing_df.set_index('Numeric',inplace=True)
modified_indexing_df.head()

,Indicator Name,Cancer Type,Year,Country Name,Region,Gender,Area,Lower Confidence Limit,Upper Confidence Limit,Comment,Unnamed: 11
Numeric,,,,,,,,,,,
100.093775,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Total,NaN,no data,no data,NaN,NaN
99.222067,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Males,NaN,no data,no data,NaN,NaN
103.394290,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Females,NaN,no data,no data,NaN,NaN
91.684712,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Total,NaN,no data,no data,NaN,NaN
100.215360,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Males,NaN,no data,no data,NaN,NaN

In [70]:
# reseting the indexiing
modified_indexing_df.reset_index(inplace = True)

ValueError: cannot insert level_0, already exists

In [71]:
modified_indexing_df.head()

,level_0,index,Numeric,Year,Indicator Name,Cancer Type,Country Name,Region,Gender,Area,Lower Confidence Limit,Upper Confidence Limit,Comment,Unnamed: 11
0,0,0,100.093775,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Total,NaN,no data,no data,NaN,NaN
1,1,1,99.222067,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Males,NaN,no data,no data,NaN,NaN
2,2,2,103.394290,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Females,NaN,no data,no data,NaN,NaN
3,3,3,91.684712,2019,Cancer age-standardized death rate,NaN,NaN,Eastern Mediterranean Region,Total,NaN,no data,no data,NaN,NaN
4,4,4,100.215360,2019,Cancer age-standardized death rate,NaN,NaN,Eastern Mediterranean Region,Males,NaN,no data,no data,NaN,NaN

In [18]:
# To reset the index of a column in a DataFrame in Python, you can use the reset_index() method. Here's how you can reset the index for the colname column
colname = load_df.Gender
colname_reset = colname.reset_index(drop=True)
colname_reset.head()

0      Total
1      Males
2    Females
3      Total
4      Males
Name: Gender, dtype: object

In [60]:
modified_indexing_df.set_index('Numeric',inplace=True)
modified_indexing_df.head()

,Year,Indicator Name,Cancer Type,Country Name,Region,Gender,Area,Lower Confidence Limit,Upper Confidence Limit,Comment,Unnamed: 11
Numeric,,,,,,,,,,,
100.093775,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Total,NaN,no data,no data,NaN,NaN
99.222067,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Males,NaN,no data,no data,NaN,NaN
103.394290,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Females,NaN,no data,no data,NaN,NaN
91.684712,2019,Cancer age-standardized death rate,NaN,NaN,Eastern Mediterranean Region,Total,NaN,no data,no data,NaN,NaN
100.215360,2019,Cancer age-standardized death rate,NaN,NaN,Eastern Mediterranean Region,Males,NaN,no data,no data,NaN,NaN

In [72]:
print(modified_indexing_df['Numeric'].unique())

In [73]:
# access few columns roe value based on index values
modified_indexing_df.loc[[91.684712],'Year':'Region']

In [ ]:
# access rows based on logical values
modified_indexing_df.loc[[True,True,False,True,False]]

# df.iloc

In [79]:
modified_indexing_df.head()

,level_0,index,Numeric,Year,Indicator Name,Cancer Type,Country Name,Region,Gender,Area,Lower Confidence Limit,Upper Confidence Limit,Comment,Unnamed: 11
0,0,0,100.093775,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Total,NaN,no data,no data,NaN,NaN
1,1,1,99.222067,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Males,NaN,no data,no data,NaN,NaN
2,2,2,103.394290,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Females,NaN,no data,no data,NaN,NaN
3,3,3,91.684712,2019,Cancer age-standardized death rate,NaN,NaN,Eastern Mediterranean Region,Total,NaN,no data,no data,NaN,NaN
4,4,4,100.215360,2019,Cancer age-standardized death rate,NaN,NaN,Eastern Mediterranean Region,Males,NaN,no data,no data,NaN,NaN

In [80]:
modified_indexing_df.iloc[0,3]
# first row fourth column

2019

In [81]:
modified_indexing_df.iloc[:3]

,level_0,index,Numeric,Year,Indicator Name,Cancer Type,Country Name,Region,Gender,Area,Lower Confidence Limit,Upper Confidence Limit,Comment,Unnamed: 11
0,0,0,100.093775,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Total,NaN,no data,no data,NaN,NaN
1,1,1,99.222067,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Males,NaN,no data,no data,NaN,NaN
2,2,2,103.394290,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Females,NaN,no data,no data,NaN,NaN

In [86]:
# Store the current index in a separate column
modified_indexing_df['previous_index'] = modified_indexing_df.index

In [89]:


# Remove the 'level_0' column if needed
modified_indexing_df.drop('level_0', axis=1, inplace=True)

,index,Numeric,Year,Indicator Name,Cancer Type,Country Name,Region,Gender,Area,Lower Confidence Limit,Upper Confidence Limit,Comment,Unnamed: 11,previous_index
0,0,100.093775,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Total,NaN,no data,no data,NaN,NaN,0
1,1,99.222067,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Males,NaN,no data,no data,NaN,NaN,1
2,2,103.394290,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Females,NaN,no data,no data,NaN,NaN,2
3,3,91.684712,2019,Cancer age-standardized death rate,NaN,NaN,Eastern Mediterranean Region,Total,NaN,no data,no data,NaN,NaN,3
4,4,100.215360,2019,Cancer age-standardized death rate,NaN,NaN,Eastern Mediterranean Region,Males,NaN,no data,no data,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,1135,73.015951,2019,Percentage of cancer deaths occurring under 70...,NaN,Zambia,African Region,Males,NaN,no data,no data,NaN,NaN,1135
1136,1136,81.544289,2019,Percentage of cancer deaths occurring under 70...,NaN,Zambia,African Region,Females,NaN,no data,no data,NaN,NaN,1136
1137,1137,68.934731,2019,Percentage of cancer deaths occurring under 70...,NaN,Zimbabwe,African Region,Total,NaN,no data,no data,NaN,NaN,1137
1138,1138,65.084667,2019,Percentage of cancer deaths occurring under 70...,NaN,Zimbabwe,African Region,Males,NaN,no data,no data,NaN,NaN,1138
1139,1139,71.065408,2019,Percentage of cancer deaths occurring under 70...,NaN,Zimbabwe,African Region,Females,NaN,no data,no data,NaN,NaN,1139

In [91]:
modified_indexing_df.drop('index',axis=1, inplace=True)

In [92]:
modified_indexing_df

,Numeric,Year,Indicator Name,Cancer Type,Country Name,Region,Gender,Area,Lower Confidence Limit,Upper Confidence Limit,Comment,Unnamed: 11,previous_index
0,100.093775,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Total,NaN,no data,no data,NaN,NaN,0
1,99.222067,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Males,NaN,no data,no data,NaN,NaN,1
2,103.394290,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Females,NaN,no data,no data,NaN,NaN,2
3,91.684712,2019,Cancer age-standardized death rate,NaN,NaN,Eastern Mediterranean Region,Total,NaN,no data,no data,NaN,NaN,3
4,100.215360,2019,Cancer age-standardized death rate,NaN,NaN,Eastern Mediterranean Region,Males,NaN,no data,no data,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,73.015951,2019,Percentage of cancer deaths occurring under 70...,NaN,Zambia,African Region,Males,NaN,no data,no data,NaN,NaN,1135
1136,81.544289,2019,Percentage of cancer deaths occurring under 70...,NaN,Zambia,African Region,Females,NaN,no data,no data,NaN,NaN,1136
1137,68.934731,2019,Percentage of cancer deaths occurring under 70...,NaN,Zimbabwe,African Region,Total,NaN,no data,no data,NaN,NaN,1137
1138,65.084667,2019,Percentage of cancer deaths occurring under 70...,NaN,Zimbabwe,African Region,Males,NaN,no data,no data,NaN,NaN,1138
1139,71.065408,2019,Percentage of cancer deaths occurring under 70...,NaN,Zimbabwe,African Region,Females,NaN,no data,no data,NaN,NaN,1139

In [93]:
modified_indexing_df.iloc[:3]

,Numeric,Year,Indicator Name,Cancer Type,Country Name,Region,Gender,Area,Lower Confidence Limit,Upper Confidence Limit,Comment,Unnamed: 11,previous_index
0,100.093775,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Total,NaN,no data,no data,NaN,NaN,0
1,99.222067,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Males,NaN,no data,no data,NaN,NaN,1
2,103.394290,2019,Cancer age-standardized death rate,NaN,NaN,African Region,Females,NaN,no data,no data,NaN,NaN,2

In [100]:
modified_indexing_df.iloc[0,3]

nan

In [102]:
modified_indexing_df.iloc[0,5]

'African Region'

In [6]:
modified_indexing_df

,Indicator Name,Cancer Type,Year,Country Name,Region,Gender,Area,Lower Confidence Limit,Upper Confidence Limit,Comment,Unnamed: 11
Numeric,,,,,,,,,,,
100.093775,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Total,NaN,no data,no data,NaN,NaN
99.222067,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Males,NaN,no data,no data,NaN,NaN
103.394290,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Females,NaN,no data,no data,NaN,NaN
91.684712,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Total,NaN,no data,no data,NaN,NaN
100.215360,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Males,NaN,no data,no data,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
73.015951,Percentage of cancer deaths occurring under 70...,NaN,2019,Zambia,African Region,Males,NaN,no data,no data,NaN,NaN
81.544289,Percentage of cancer deaths occurring under 70...,NaN,2019,Zambia,African Region,Females,NaN,no data,no data,NaN,NaN
68.934731,Percentage of cancer deaths occurring under 70...,NaN,2019,Zimbabwe,African Region,Total,NaN,no data,no data,NaN,NaN
65.084667,Percentage of cancer deaths occurring under 70...,NaN,2019,Zimbabwe,African Region,Males,NaN,no data,no data,NaN,NaN
71.065408,Percentage of cancer deaths occurring under 70...,NaN,2019,Zimbabwe,African Region,Females,NaN,no data,no data,NaN,NaN

In [10]:
# accessing multiple rows
modified_indexing_df.iloc[[0,3,4]]

,Indicator Name,Cancer Type,Year,Country Name,Region,Gender,Area,Lower Confidence Limit,Upper Confidence Limit,Comment,Unnamed: 11
Numeric,,,,,,,,,,,
100.093775,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Total,NaN,no data,no data,NaN,NaN
91.684712,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Total,NaN,no data,no data,NaN,NaN
100.215360,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Males,NaN,no data,no data,NaN,NaN

In [16]:
modified_indexing_df.iloc[[0,3,4],:]

,Indicator Name,Cancer Type,Year,Country Name,Region,Gender,Area,Lower Confidence Limit,Upper Confidence Limit,Comment,Unnamed: 11
Numeric,,,,,,,,,,,
100.093775,Cancer age-standardized death rate,NaN,2019,NaN,African Region,Total,NaN,no data,no data,NaN,NaN
91.684712,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Total,NaN,no data,no data,NaN,NaN
100.215360,Cancer age-standardized death rate,NaN,2019,NaN,Eastern Mediterranean Region,Males,NaN,no data,no data,NaN,NaN

In [23]:
modified_indexing_df.iloc[1:2,0:3].head()

                               Indicator Name  Cancer Type  Year
Numeric
99.222067  Cancer age-standardized death rate          NaN  2019

In [26]:
# condition based subsetting
# Return boolean
modified_indexing_df['Year'] > 100
modified_indexing_df.Year >100

Numeric
100.093775    True
99.222067     True
103.394290    True
91.684712     True
100.215360    True
              ...
73.015951     True
81.544289     True
68.934731     True
65.084667     True
71.065408     True
Name: Year, Length: 1140, dtype: bool