# creating series

In [1]:
import numpy as np
import pandas as pd

In [3]:
# creating pandas series from the list
my_data = [10,20,30,40,500]
labels = ['a','b','c','d','e']
pd.Series(data=my_data)

0     10
1     20
2     30
3     40
4    500
dtype: int64

In [4]:
pd.Series(data = my_data, index = labels)

a     10
b     20
c     30
d     40
e    500
dtype: int64

In [6]:
pd.Series(my_data, labels)

a     10
b     20
c     30
d     40
e    500
dtype: int64

In [7]:
# pandas series using numpy array

arr = np.array(my_data)
arr

array([ 10,  20,  30,  40, 500])

In [8]:
pd.Series(data = arr)

0     10
1     20
2     30
3     40
4    500
dtype: int32

In [9]:
pd.Series(data = arr, index = labels)

a     10
b     20
c     30
d     40
e    500
dtype: int32

In [12]:
# pandas series using dictionary

d = {'a':100,'b':200,'c':300,'d':400}
d

{'a': 100, 'b': 200, 'c': 300, 'd': 400}

In [13]:
pd.Series(d)

a    100
b    200
c    300
d    400
dtype: int64

In [14]:
pd.Series(data = labels)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [15]:
pd.Series(data = [sum,len])

0    <built-in function sum>
1    <built-in function len>
dtype: object

# Grabing the information from pandas Series

In [20]:
ser1 = pd.Series(data=[1,2,3,4],index=['Red','Green','Yellow','Blue'])
ser1

Red       1
Green     2
Yellow    3
Blue      4
dtype: int64

In [21]:
ser2 = pd.Series(data=[1,2,6,4],index=['Pink','Green','Yellow','Blue'])
ser2

Pink      1
Green     2
Yellow    6
Blue      4
dtype: int64

In [22]:
ser2['Green']

2

In [23]:
ser1['Yellow']

3

In [24]:
ser3 = pd.Series(data=['a','b','c','d','e'])
ser3

0    a
1    b
2    c
3    d
4    e
dtype: object

In [25]:
ser3[1]

'b'

In [26]:
ser3[0:3]

0    a
1    b
2    c
dtype: object

In [27]:
ser1

Red       1
Green     2
Yellow    3
Blue      4
dtype: int64

In [28]:
ser2

Pink      1
Green     2
Yellow    6
Blue      4
dtype: int64

In [29]:
ser1+ser2 # it will add only those series data which is present in both data

Blue      8.0
Green     4.0
Pink      NaN
Red       NaN
Yellow    9.0
dtype: float64