# pandas DataFrames

# dataFrame is the 2 d data structure that data is tabulated in two fashon row and column
#  data Frame compose 3 principals i.e data , rows and column

In [34]:
import numpy as np
import pandas as pd
from numpy.random import rand
np.random.seed(101)

In [37]:

df = pd.DataFrame(data= rand(5,4), index=['a','b','c','d','e'],columns=['w','x','y','Z'])

In [38]:
df

          w         x         y         Z
a  0.097146  0.102847  0.701507  0.890480
b  0.159560  0.275573  0.672492  0.164303
c  0.701371  0.487635  0.680678  0.521548
d  0.043397  0.223937  0.575205  0.120434
e  0.500117  0.138010  0.052808  0.178277

In [39]:
# indexing ans selection
# selecting one column
df['w']

a    0.097146
b    0.159560
c    0.701371
d    0.043397
e    0.500117
Name: w, dtype: float64

In [40]:
type(df['w'])

pandas.core.series.Series

In [41]:
type(df)

pandas.core.frame.DataFrame

In [42]:
df

          w         x         y         Z
a  0.097146  0.102847  0.701507  0.890480
b  0.159560  0.275573  0.672492  0.164303
c  0.701371  0.487635  0.680678  0.521548
d  0.043397  0.223937  0.575205  0.120434
e  0.500117  0.138010  0.052808  0.178277

In [43]:
# selecting two coluns
df[['x','y']]

          x         y
a  0.102847  0.701507
b  0.275573  0.672492
c  0.487635  0.680678
d  0.223937  0.575205
e  0.138010  0.052808

In [44]:
type(df[['x','y']])

pandas.core.frame.DataFrame

In [45]:
# adding new colun in above DataFrame
df['new'] = df['w'] + df['x']
df

          w         x         y         Z       new
a  0.097146  0.102847  0.701507  0.890480  0.199994
b  0.159560  0.275573  0.672492  0.164303  0.435133
c  0.701371  0.487635  0.680678  0.521548  1.189006
d  0.043397  0.223937  0.575205  0.120434  0.267333
e  0.500117  0.138010  0.052808  0.178277  0.638126

In [48]:
# removing colun and rows in dataFrame
df.drop(labels='new',axis=1)# axis=1 for column and axis=0 for Row

          w         x         y         Z
a  0.097146  0.102847  0.701507  0.890480
b  0.159560  0.275573  0.672492  0.164303
c  0.701371  0.487635  0.680678  0.521548
d  0.043397  0.223937  0.575205  0.120434
e  0.500117  0.138010  0.052808  0.178277

In [49]:
df
# since the orginal df data is not removed to removed that new column data we have to add inplace=True paramaeter

          w         x         y         Z       new
a  0.097146  0.102847  0.701507  0.890480  0.199994
b  0.159560  0.275573  0.672492  0.164303  0.435133
c  0.701371  0.487635  0.680678  0.521548  1.189006
d  0.043397  0.223937  0.575205  0.120434  0.267333
e  0.500117  0.138010  0.052808  0.178277  0.638126

In [50]:
df.drop(labels='new',axis=1,inplace=True)

In [51]:
df

          w         x         y         Z
a  0.097146  0.102847  0.701507  0.890480
b  0.159560  0.275573  0.672492  0.164303
c  0.701371  0.487635  0.680678  0.521548
d  0.043397  0.223937  0.575205  0.120434
e  0.500117  0.138010  0.052808  0.178277

In [54]:
# removing rows
df.drop('b',axis=0)

          w         x         y         Z
a  0.097146  0.102847  0.701507  0.890480
c  0.701371  0.487635  0.680678  0.521548
d  0.043397  0.223937  0.575205  0.120434
e  0.500117  0.138010  0.052808  0.178277

In [55]:
df

          w         x         y         Z
a  0.097146  0.102847  0.701507  0.890480
b  0.159560  0.275573  0.672492  0.164303
c  0.701371  0.487635  0.680678  0.521548
d  0.043397  0.223937  0.575205  0.120434
e  0.500117  0.138010  0.052808  0.178277

In [56]:
# selectinf rows we use loc
df.loc['c']

w    0.701371
x    0.487635
y    0.680678
Z    0.521548
Name: c, dtype: float64

In [58]:
type(df.loc['c'])

pandas.core.series.Series

In [59]:
# selecting subset of rows and colum
df.loc['c','x'] #df.loc['rows','column']

0.4876352222057281

In [60]:
df.loc ['e','y']

0.05280840108926621

In [64]:
df

          w         x         y         Z
a  0.097146  0.102847  0.701507  0.890480
b  0.159560  0.275573  0.672492  0.164303
c  0.701371  0.487635  0.680678  0.521548
d  0.043397  0.223937  0.575205  0.120434
e  0.500117  0.138010  0.052808  0.178277

In [65]:
df.loc[['d','e'],['y','Z']] # 'd' and 'e' specify rows and y and Z are colun we wan a select four values as list

          y         Z
d  0.575205  0.120434
e  0.052808  0.178277